:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #050401;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  text-align: center;
  margin: auto;
  padding: auto 100px;
  background-color: #cecedf;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  background-color: #30bced;
}

header .site-logo {
  color: #fc5130;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #fc5130;
  text-decoration: underline;
}

header .login-icon {
  height: 18px;
  width: 18px;
}

header .login-link {
  display: inline-flex;
  align-items: center;
}

nav {
  display: flex;
}

main {
  margin-bottom: 84px;
}

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/* HERO CSS */
.hero {
  display: grid;
  background-image: url("./src/assets/dallasSkylineVector.jpg");

  background-color: #cccccc; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.hero-text {
  padding-top: 10%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  color: #30bced;
  justify-content: center;
  align-items: center;
}
.hero-text h2 {
  color: #303036;
  justify-content: center;
  align-items: center;
}
.hero-button {
  display: flex;

  justify-content: center;
  align-items: center;
}
/* VALIDATION HEADER CSS */
.validation {
  display: flex;
  justify-content: space-around;
}
/* VALIDATION HEADER CSS */
/* *******SERVICES******** */
.services {
  background-color: antiquewhite;
}
.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
}
.servicesPage-hero {
  display: grid;
}
.servicesPage-hero > ul {
  list-style-type: none;
}
/* SERVICE TILE */
.schover {
  box-shadow: 10px 10px lightblue;
  color: #fc5130;
}
/* .scnormal {

} */
.service-tile {
  display: grid;

  width: 200px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.service-tile-img-norm > svg {
  width: 100px;
  height: 100px;
}
.services-allServices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
/* *******SERVICES******** */
.whyUs {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.whyUs-left {
  display: grid;
  align-items: center;
  justify-content: center;
}
.whyUs-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.whyUsTile-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}
.projects-left {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #30bced;
}

.projects-right {
  width: 100%;
}
/* .custom-dot-list-style > li > button {
  background: rgb(124, 121, 121);
} */

.projects-carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-multi-carousel-dot--active > button {
  background: white;
}

/* SERVICES DETAIL TILE */

.services-detail-paragraph {
  white-space: pre-wrap;
}
.services-detail-impress {
  display: flex;
  background-color: #30bced;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}
.services-detail-impress-qualifier {
  flex: 1;
}
.services-detail-impress-list {
  flex: 2;
  justify-content: left;
  text-align: left;
  margin-left: 20px;
}
.services-detail-impress-list li {
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50"><path d="M 25 2 C 12.317 2 2 12.317 2 25 C 2 37.683 12.317 48 25 48 C 37.683 48 48 37.683 48 25 C 48 20.44 46.660281 16.189328 44.363281 12.611328 L 42.994141 14.228516 C 44.889141 17.382516 46 21.06 46 25 C 46 36.579 36.579 46 25 46 C 13.421 46 4 36.579 4 25 C 4 13.421 13.421 4 25 4 C 30.443 4 35.393906 6.0997656 39.128906 9.5097656 L 40.4375 7.9648438 C 36.3525 4.2598437 30.935 2 25 2 z M 43.236328 7.7539062 L 23.914062 30.554688 L 15.78125 22.96875 L 14.417969 24.431641 L 24.083984 33.447266 L 44.763672 9.046875 L 43.236328 7.7539062 z"></path></svg>');
}
.services-detail-impress-list li::before {
  font-size: 1em;
  line-height: 0.5;
  color: green;
  background-color: #fc5130;
}
