:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #050401;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  text-align: center;
  margin: auto;
  padding: 0;
  background-color: #ccccff;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  background-color: #30bced;
}

header .site-logo {
  color: #fc5130;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #fc5130;
  text-decoration: underline;
}

header .login-icon {
  height: 18px;
  width: 18px;
}

header .login-link {
  display: inline-flex;
  align-items: center;
}

nav {
  display: flex;
}

main {
  margin-bottom: 84px;
}

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}
/* HERO CSS */
.hero {
  display: grid;
  background-image: url("./src/assets/dallasSkylineVector.jpg");

  background-color: #cccccc; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.hero-text {
  padding-top: 10%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  color: #30bced;
  justify-content: center;
  align-items: center;
}
.hero-text h2 {
  color: #303036;
  justify-content: center;
  align-items: center;
}
.hero-button {
  display: flex;

  justify-content: center;
  align-items: center;
}
/* VALIDATION HEADER CSS */
.validation {
  display: flex;
  justify-content: space-around;
}

.services-grid {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
}
